.resimSlider{
    height: 400px;
}

body{
    padding-top: 50px;
    font-family: 'Raleway',sans-serif;
}

.hakkimizda{
    background-color: #f2f2f2
}

.calisma{
    background-color: #f2f2f2;
}

.iletisim{
    background-color: #f2f2f2;
}

